.adopter-profile {
  align-items: flex-start;
  background: linear-gradient(180deg, #e1eff5 0%, #7a9aa8 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  flex-direction: column;
  height: 812px;
  width: 375px;
}

.flex-row-21 {
  align-items: flex-end;
  display: flex;
  margin-left: 27px;
  margin-top: -12px;
  min-width: 224px;
}

.place-6 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 6.5px;
  min-height: 19px;
  min-width: 36px;
  white-space: nowrap;
}

.logo-sisyphii-5 {
  height: 66px;
  margin-left: 68px;
  object-fit: cover;
  width: 41px;
}

.sisyphii-5 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 6.5px;
  margin-left: 7px;
  min-height: 25px;
  min-width: 72px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group18 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 22px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 683px;
  padding: 16px 15px;
  width: 375px;
}

.wai-was-details {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 12px;
  margin-top: 3px;
  min-height: 24px;
  white-space: nowrap;
}

.overlap-group19 {
  align-self: flex-end;
  height: 618px;
  margin-top: 6px;
  position: relative;
  width: 344px;
}

.scroll-group-7::-webkit-scrollbar {
  display: none;
  width: 0;
}

.scroll-group-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 608px;
  overflow-y: scroll;
  position: absolute;
  top: 10px;
  width: 344px;
}

.personal-particulars-2 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 9px;
  margin-top: 2px;
  min-height: 24px;
  min-width: 176px;
  white-space: nowrap;
}

.full-name-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 9px;
  margin-top: 30px;
  min-height: 19px;
  min-width: 69px;
  white-space: nowrap;
}

.overlap-group5-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 4px;
  margin-top: 12px;
  min-width: 330px;
  padding: 6.5px 25px;
}

.name-6 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 66px;
  white-space: nowrap;
}

.contact-number-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 9px;
  margin-top: 18px;
  min-height: 19px;
  min-width: 112px;
  white-space: nowrap;
}

.overlap-group14 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 4px;
  margin-top: 12px;
  min-width: 330px;
  padding: 5.5px 25px;
}

.phone-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 104px;
  white-space: nowrap;
}

.flex-row-22 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-left: 9px;
  margin-top: 18px;
  min-width: 298px;
}

.age-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 28px;
  white-space: nowrap;
}

.does-your-estate-allow-pets-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 75px;
  min-height: 19px;
  white-space: nowrap;
}

.overlap-group-container-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 4px;
  margin-top: 12px;
  min-width: 330px;
}

.overlap-group10 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  min-width: 80px;
  padding: 5.5px 30px;
}

.number-2 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 18px;
  white-space: nowrap;
}

.overlap-group2-6 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 18px;
  min-width: 232px;
  padding: 4.5px 102px;
}

.yes-5,
.yes-6,
.yes-7,
.yes-8,
.yes-9 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 25px;
  white-space: nowrap;
}

.home-address-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 9px;
  margin-top: 18px;
  min-height: 19px;
  min-width: 101px;
  white-space: nowrap;
}

.overlap-group13 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 1px;
  margin-top: 12px;
  min-width: 341px;
  padding: 5.5px 25px;
}

.flat-c-8f-518-nat-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 269px;
  white-space: nowrap;
}

.proof-of-address-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 9px;
  margin-top: 18px;
  min-height: 19px;
  min-width: 114px;
  white-space: nowrap;
}

.gas_bill_eng-1 {
  border-radius: 13px;
  height: 175px;
  margin-left: 1px;
  margin-top: 12px;
  object-fit: cover;
  width: 341px;
}

.living-space {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 15px;
  margin-top: 50px;
  min-height: 24px;
  min-width: 112px;
  white-space: nowrap;
}

.select-which-type-of-home-you-live-in {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 15px;
  margin-top: 30px;
  min-height: 19px;
  min-width: 249px;
  white-space: nowrap;
}

.overlap-group3-5 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 341px;
  padding: 6.5px 38px;
}

.village-house {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 93px;
  white-space: nowrap;
}

.size-of-the-house-in-sq-ft {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 15px;
  margin-top: 18px;
  min-height: 19px;
  min-width: 174px;
  white-space: nowrap;
}

.overlap-group6-3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 1px;
  margin-top: 12px;
  min-width: 341px;
  padding: 4.5px 28px;
}

.address-5 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 59px;
  white-space: nowrap;
}

.for-cat-adoption-pl {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 19px;
  margin-top: 20px;
  min-height: 36px;
  min-width: 266px;
  white-space: nowrap;
}

.nets2 {
  align-self: center;
  border-radius: 22px;
  height: 300px;
  margin-left: 2.0px;
  margin-top: 11px;
  object-fit: cover;
  width: 330px;
}

.for-small-animal-ado {
  align-self: center;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 30.0px;
  margin-top: 19px;
  min-height: 36px;
  min-width: 276px;
  white-space: nowrap;
}

.x51o-dk47-xcg-l_ac_sx466_ {
  align-self: center;
  border-radius: 18px;
  height: 300px;
  margin-left: 2.0px;
  margin-top: 11px;
  object-fit: cover;
  width: 330px;
}

.for-reptile-adoption {
  align-self: center;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 9.0px;
  margin-top: 19px;
  min-height: 36px;
  min-width: 287px;
  white-space: nowrap;
}

.c7rat3r0c9v71 {
  align-self: center;
  border-radius: 25px;
  height: 300px;
  margin-right: 4.0px;
  margin-top: 11px;
  object-fit: cover;
  width: 330px;
}

.people-and-pets {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 12px;
  margin-top: 50px;
  min-height: 24px;
  min-width: 142px;
  white-space: nowrap;
}

.how-many-people-reside-in-the-house {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 14px;
  margin-top: 46px;
  min-height: 19px;
  min-width: 260px;
  white-space: nowrap;
}

.overlap-group-9 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 1px;
  margin-top: 12px;
  min-width: 341px;
  padding: 7.5px 31px;
}

.number-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 10px;
  white-space: nowrap;
}

.animal-wo-human-sup {
  align-self: center;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 13.0px;
  margin-top: 18px;
  min-height: 19px;
  min-width: 303px;
  white-space: nowrap;
}

.overlap-group7-3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 1px;
  margin-top: 12px;
  min-width: 341px;
  padding: 5.5px 31px;
}

.are-there-young-children-in-the-house {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 12px;
  margin-top: 20px;
  min-height: 19px;
  min-width: 259px;
  white-space: nowrap;
}

.overlap-group17 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 340px;
  padding: 5.5px 156px;
}

.do-you-employ-a-domestic-helper {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 8px;
  margin-top: 20px;
  min-height: 19px;
  min-width: 233px;
  white-space: nowrap;
}

.overlap-group16 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 340px;
  padding: 5.5px 125px;
}

.yes-full-time {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 88px;
  white-space: nowrap;
}

.are-there-other-pets-in-the-house {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 12px;
  margin-top: 20px;
  min-height: 19px;
  min-width: 229px;
  white-space: nowrap;
}

.overlap-group11-2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 340px;
  padding: 3.5px 157px;
}

.pet-care-budget {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 13px;
  margin-top: 50px;
  min-height: 24px;
  min-width: 143px;
  white-space: nowrap;
}

.what-is-your-occupation {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 10px;
  margin-top: 46px;
  min-height: 19px;
  min-width: 164px;
  white-space: nowrap;
}

.overlap-group-8 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 341px;
  padding: 5.5px 25px;
}

.tenant-at-moms-basement {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 182px;
  white-space: nowrap;
}

.what-is-your-monthly {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 9px;
  margin-top: 20px;
  min-height: 19px;
  min-width: 274px;
  white-space: nowrap;
}

.price {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 72px;
  white-space: nowrap;
}

.in-case-of-the-pets {
  align-self: center;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 4.0px;
  margin-top: 21px;
  min-height: 36px;
  min-width: 318px;
  white-space: nowrap;
}

.overlap-group9-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 2px;
  margin-top: 11px;
  min-width: 340px;
  padding: 5.5px 157px;
}

.emergency-contact {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 11px;
  margin-top: 48px;
  min-height: 24px;
  min-width: 169px;
  white-space: nowrap;
}

.emergency-contact-name-and-relationship {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 11px;
  margin-top: 52px;
  min-height: 19px;
  min-width: 284px;
  white-space: nowrap;
}

.overlap-group15 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-top: 12px;
  min-width: 341px;
  padding: 5.5px 25px;
}

.name-7 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 96px;
  white-space: nowrap;
}

.emergency-contact-number {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 10px;
  margin-top: 20px;
  min-height: 19px;
  min-width: 187px;
  white-space: nowrap;
}

.overlap-group4-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 3px;
  margin-top: 12px;
  min-width: 341px;
  padding: 5.5px 25px;
}

.phone-2 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 64px;
  white-space: nowrap;
}

.would-emergency-cont {
  align-self: center;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 14.0px;
  margin-top: 21px;
  min-height: 36px;
  min-width: 306px;
  white-space: nowrap;
}

.overlap-group12 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 2px;
  margin-top: 11px;
  min-width: 340px;
  padding: 6.5px 157px;
}

.ellipse-28-1 {
  border-radius: 44.5px;
  height: 89px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 89px;
}

