.personal-particulars {
  align-items: flex-start;
  background: linear-gradient(180deg, #e3d9da 0%, #c4a2a2 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  height: 812px;
  width: 375px;
}

.overlap-group2-4 {
  align-items: center;
  background-color: var(--lilac);
  border-radius: 22px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 741px;
  padding: 13.5px 14px;
  width: 375px;
}

.overlap-group5-1 {
  background-color: var(--white);
  border-radius: 9px;
  height: 20px;
  margin-left: 1.0px;
  margin-top: 14px;
  width: 320px;
}

.personal-particulars-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 14px;
  margin-top: 34px;
  min-height: 24px;
  white-space: nowrap;
}

.full-name {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 14px;
  margin-top: 30px;
  min-height: 19px;
  white-space: nowrap;
}

.overlap-group4-2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 1.0px;
  margin-top: 12px;
  min-width: 330px;
  padding: 6.5px 25px;
}

.name-3 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 66px;
  white-space: nowrap;
}

.contact-number {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 14px;
  margin-top: 18px;
  min-height: 19px;
  white-space: nowrap;
}

.overlap-group7-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 1.0px;
  margin-top: 12px;
  min-width: 330px;
  padding: 5.5px 25px;
}

.phone {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 104px;
  white-space: nowrap;
}

.flex-row-11 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-right: 21.0px;
  margin-top: 18px;
  min-width: 298px;
}

.age {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 28px;
  white-space: nowrap;
}

.does-your-estate-allow-pets {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 75px;
  min-height: 19px;
  white-space: nowrap;
}

.overlap-group-container-1 {
  align-self: flex-end;
  height: 119px;
  margin-top: 12px;
  position: relative;
  width: 341px;
}

.overlap-group6-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 3px;
  min-width: 80px;
  padding: 5.5px 30px;
  position: absolute;
  top: 0;
}

.number {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 18px;
  white-space: nowrap;
}

.overlap-group3-2 {
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 341px;
}

.rectangle-122 {
  background-color: var(--white);
  border-radius: 9px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 341px;
}

.home-address {
  left: 8px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
}

.flat-c-8f-518-nat {
  left: 25px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 94px;
  white-space: nowrap;
}

.flex-row-12 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-right: 2.27px;
  margin-top: 16px;
  min-width: 317px;
}

.proof-of-address {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 114px;
  white-space: nowrap;
}

.icon-material-file-upload {
  height: 19px;
  margin-left: 187px;
  object-fit: cover;
  width: 15px;
}

.gas_bill_eng {
  align-self: flex-end;
  border-radius: 13px;
  height: 174px;
  margin-top: 12px;
  object-fit: cover;
  width: 341px;
}

.flex-row-13 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-left: 3.0px;
  margin-top: 32px;
  min-width: 314px;
}

.exit {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 27px;
  white-space: nowrap;
}

.next {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 254px;
  min-height: 19px;
  white-space: nowrap;
}

