.freepik-cat-inject-173-2 {
  display: flex;
  height: 34px;
  width: 33px;
}

.freepik-kitten-inject-173-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 33.21px;
}

.overlap-group-5 {
  height: 34px;
  margin-top: 0;
  position: relative;
  width: 33px;
}

.path-1603-2 {
  height: 10px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 11px;
}

.path-1604-2 {
  height: 1px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 1px;
}

.path-1605-2 {
  height: 1px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 1px;
}

.path-1606-2 {
  height: 4px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 4px;
}

.path-1607-2 {
  height: 11px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 6px;
}

.path-1608-2 {
  height: 8px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 6px;
}

.path-1609-2 {
  height: 26px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 21px;
}

.path-161 {
  height: 12px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 10px;
}

.path-1612-2 {
  height: 3px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 3px;
}

.path-1613-2 {
  height: 4px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 1px;
}

.path-1614-2 {
  height: 1px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 2px;
}

.path-1615-2 {
  height: 1px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 2px;
}

.path-1616-2 {
  height: 1px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 1px;
}

.path-1617-2 {
  height: 1px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 1px;
}

.path-161-1 {
  height: 1px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 1px;
}

.path-1620-2 {
  height: 4px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.path-1621-2 {
  height: 3px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3px;
}

.path-1622-2 {
  height: 2px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 2px;
}

.path-1623-2 {
  height: 2px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 2px;
}

.path-1624-2 {
  height: 3px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3px;
}

.path-1625-2 {
  height: 3px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3px;
}

.path-1626-2 {
  height: 2px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 2px;
}

.path-1627-2 {
  height: 2px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 2px;
}

.path-1628-2 {
  height: 9px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 11px;
}

.path-1629-2 {
  height: 7px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 6px;
}

.path-1630-2 {
  height: 1px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 1px;
}

.ellipse-27-2 {
  background-color: var(--ebony-clay);
  border-radius: 0.44px;
  height: 1px;
  left: 25px;
  position: absolute;
  top: 5px;
  transform: rotate(-7.20deg);
  width: 1px;
}

.path-1631-2 {
  height: 1px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 2px;
}

.path-1632-2 {
  height: 1px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 1px;
}

.path-1633-2 {
  height: 1px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 2px;
}

.path-1634-2 {
  height: 1px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 1px;
}

.path-1635-2 {
  height: 1px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

.path-1636-2 {
  height: 1px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 2px;
}

.path-1637-2 {
  height: 1px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 3px;
}

.path-1638-2 {
  height: 1px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 1px;
}

.path-1639-2 {
  height: 9px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 12px;
}

.path-1640-2 {
  height: 7px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 8px;
}

.path-1641-2 {
  height: 4px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 8px;
}

