.to-be-adopted {
  align-items: flex-start;
  background: linear-gradient(180deg, #e3d9da 0%, #c4a2a2 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  flex-direction: column;
  height: 812px;
  width: 375px;
}

.flex-row-14 {
  align-items: center;
  display: flex;
  margin-left: 26px;
  margin-top: -7px;
  min-width: 222px;
}

.place-4 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: 20.0px;
  min-height: 19px;
  min-width: 36px;
  white-space: nowrap;
}

.logo-sisyphii-3 {
  height: 66px;
  margin-left: 67px;
  object-fit: cover;
  width: 41px;
}

.sisyphii-3 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 6.5px;
  margin-left: 6px;
  min-height: 25px;
  min-width: 72px;
  text-align: center;
  white-space: nowrap;
}

.flex-col-9 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  min-height: 680px;
  padding: 23px 35px;
  width: 375px;
}

.flex-col-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 162px;
  width: 300px;
}

.find-your-forever-friend {
  letter-spacing: 0;
  line-height: 17px;
  min-height: 23px;
  white-space: nowrap;
}

.search-container-1 {
  align-items: flex-end;
  background-color: var(--nude);
  border-radius: 14px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 13px;
  min-width: 300px;
  padding: 5.5px 8.2px;
}

.search-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 1.0px;
  min-height: 19px;
  min-width: 49px;
  white-space: nowrap;
}

.icon-search {
  height: 27px;
  margin-left: 189px;
  object-fit: cover;
  width: 27px;
}

.flex-row-15 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 6.99px;
  margin-top: 7px;
  min-width: 251px;
}

.overlap-group5-2 {
  align-items: flex-end;
  background-color: var(--lilac);
  border-radius: 17px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 51px;
  padding: 6px 13px;
}

.cats {
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 23px;
  white-space: nowrap;
}

.overlap-group11-1 {
  align-items: flex-end;
  background-color: var(--lilac);
  border-radius: 17px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: 5px;
  min-width: 82px;
  padding: 6px 12px;
}

.x2-years-old {
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 57px;
  white-space: nowrap;
}

.overlap-group3-3 {
  align-items: flex-end;
  background-color: var(--lilac);
  border-radius: 17px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: 6px;
  min-width: 78px;
  padding: 6px 14px;
}

.socialised {
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 48px;
  white-space: nowrap;
}

.icon-feather-filter-1 {
  height: 21px;
  margin-left: 6px;
  margin-top: 1.46px;
  object-fit: cover;
  width: 23px;
}

.results-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 1px;
  margin-top: 30px;
  min-height: 19px;
  white-space: nowrap;
}

.flex-row-16 {
  align-items: flex-end;
  display: flex;
  height: 170px;
  margin-left: 4px;
  margin-top: 18px;
  min-width: 180px;
}

.overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 170px;
  width: 44px;
}

.overlap-group8-1 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 22px;
  display: flex;
  height: 44px;
  min-width: 44px;
  padding: 3.0px 4.0px;
  position: relative;
}

.overlap-group-4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 22px;
  display: flex;
  height: 44px;
  margin-top: 19px;
  min-width: 44px;
  padding: 3.0px 3.0px;
  position: relative;
}

.flex-col-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  min-height: 169px;
  width: 130px;
}

.boba {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 16px;
  white-space: nowrap;
}

.overlap-group7-2 {
  height: 27px;
  position: relative;
  width: 119px;
}

.address-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.in-foster-care-through-lap,
.at-puc-cat-adoption-centre,
.in-foster-care-through-spca {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.flex-col-item {
  letter-spacing: 0;
  line-height: 12px;
  margin-top: 20px;
  min-height: 16px;
  white-space: nowrap;
}

.overlap-group6-2 {
  height: 27px;
  position: relative;
  width: 130px;
}

.overlap-group9 {
  height: 27px;
  position: relative;
  width: 127px;
}

