.component-29-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 64px;
  min-width: 300px;
}

.overlap-group2-1 {
  border-radius: 17px;
  height: 45px;
  position: relative;
  width: 300px;
}

.rectangle-147 {
  background: linear-gradient(180deg, #e1eff5 0%, #7a9aa8 100%);
  border-radius: 17px;
  cursor: pointer;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.see-animals-looking-to-be-homed {
  left: 39px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

