.freepik-cat-inject-173 {
  display: flex;
  height: 152px;
  width: 148px;
}

.freepik-kitten-inject-173 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  min-width: 148.29px;
}

.overlap-group-1 {
  height: 152px;
  margin-bottom: 0;
  position: relative;
  width: 148px;
}

.path-1603 {
  height: 43px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 61px;
  width: 48px;
}

.path-1604 {
  height: 5px;
  left: 144px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 4px;
}

.path-1605 {
  height: 6px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 5px;
}

.path-1606 {
  height: 17px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 103px;
  width: 19px;
}

.path-1607 {
  height: 50px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 28px;
}

.path-1608 {
  height: 34px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 103px;
  width: 28px;
}

.path-1609 {
  height: 114px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 94px;
}

.path-1610 {
  height: 52px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 46px;
}

.path-1611 {
  height: 52px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 43px;
}

.path-1612 {
  height: 12px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 14px;
}

.path-1613 {
  height: 18px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 5px;
}

.path-1614 {
  height: 5px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 134px;
  width: 7px;
}

.path-1615 {
  height: 3px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 135px;
  width: 10px;
}

.path-1616 {
  height: 6px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  top: 141px;
  width: 4px;
}

.path-1617 {
  height: 6px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 139px;
  width: 3px;
}

.path-1618 {
  height: 4px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 140px;
  width: 5px;
}

.path-1619 {
  height: 5px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 4px;
}

.path-1620 {
  height: 19px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 17px;
}

.path-1621 {
  height: 16px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 14px;
}

.path-1622 {
  height: 9px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 9px;
}

.path-1623 {
  height: 10px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 9px;
}

.path-1624 {
  height: 15px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 15px;
}

.path-1625 {
  height: 14px;
  left: 105px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 12px;
}

.path-1626 {
  height: 8px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 8px;
}

.path-1627 {
  height: 8px;
  left: 108px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 9px;
}

.path-1628 {
  height: 39px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 48px;
}

.path-1629 {
  height: 32px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 27px;
}

.path-1630 {
  height: 4px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 4px;
}

.ellipse-27 {
  background-color: var(--ebony-clay);
  border-radius: 1.96px;
  height: 4px;
  left: 112px;
  position: absolute;
  top: 22px;
  transform: rotate(-7.20deg);
  width: 4px;
}

.path-1631 {
  height: 4px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 7px;
}

.path-1632 {
  height: 2px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 5px;
}

.path-1633 {
  height: 2px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 7px;
}

.path-1634 {
  height: 5px;
  left: 119px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 6px;
}

.path-1635 {
  height: 3px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 5px;
}

.path-1636 {
  height: 2px;
  left: 121px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 7px;
}

.path-1637 {
  height: 6px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 12px;
}

.path-1638 {
  height: 3px;
  left: 105px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 5px;
}

.path-1639 {
  height: 39px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 56px;
}

.path-1640 {
  height: 33px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 118px;
  width: 36px;
}

.path-1641 {
  height: 18px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 133px;
  width: 36px;
}

.freepik-cat-inject-173.freepik-cat-inject-173-1 {
  margin-top: 2.0px;
}

