.emergency-contact-1 {
  align-items: flex-start;
  background: linear-gradient(180deg, #e3d9da 0%, #c4a2a2 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  height: 812px;
  width: 375px;
}

.overlap-group2-9 {
  align-items: center;
  background-color: var(--lilac);
  border-radius: 22px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 747px;
  padding: 22.5px 14px;
  position: relative;
  width: 375px;
}

.rectangle-121-1 {
  background: linear-gradient(180deg, #095950 0%, #043630 100%);
  border-radius: 9px;
  height: 20px;
  margin-left: 1.0px;
  margin-top: 6px;
  width: 320px;
}

.emergency-contact-2 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 14px;
  margin-top: 34px;
  min-height: 24px;
  white-space: nowrap;
}

.emergency-contact-name-and-relationship-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 35.0px;
  margin-top: 90px;
  min-height: 19px;
  min-width: 284px;
  white-space: nowrap;
}

.overlap-group3-8 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-top: 12px;
  min-width: 341px;
  padding: 5.5px 25px;
}

.name-8 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 96px;
  white-space: nowrap;
}

.emergency-contact-number-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 13px;
  margin-top: 50px;
  min-height: 19px;
  white-space: nowrap;
}

.overlap-group4-7 {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-top: 12px;
  min-width: 341px;
  padding: 5.5px 25px;
}

.phone-3 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 64px;
  white-space: nowrap;
}

.would-emergency-cont-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 15.0px;
  margin-top: 51px;
  min-height: 36px;
  min-width: 306px;
  white-space: nowrap;
}

.flex-row-28 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-left: 3.0px;
  margin-top: 126px;
  min-width: 318px;
}

.place-10 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 36px;
  white-space: nowrap;
}

.save {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 248px;
  min-height: 19px;
  white-space: nowrap;
}

