.living-space-1 {
  align-items: flex-start;
  background: linear-gradient(180deg, #e3d9da 0%, #c4a2a2 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  height: 812px;
  width: 375px;
}

.overlap-group4-5 {
  align-items: flex-end;
  background-color: var(--lilac);
  border-radius: 22px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 747px;
  margin-top: 20px;
  min-width: 375px;
  padding: 0 16px;
}

.scroll-group-6::-webkit-scrollbar {
  display: none;
  width: 0;
}

.scroll-group-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 719px;
  overflow-y: scroll;
  width: 342px;
}

.overlap-group-10 {
  height: 20px;
  margin-left: 3.0px;
  position: relative;
  width: 323px;
}

.rectangle-121 {
  background-color: var(--white);
  border-radius: 9px;
  height: 20px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 320px;
}

.rectangle-128 {
  background: linear-gradient(180deg, #095950 0%, #043630 100%);
  border-radius: 11px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 128px;
}

.living-space-2 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 14px;
  margin-top: 34px;
  min-height: 24px;
  min-width: 112px;
  white-space: nowrap;
}

.select-which-type-of-home-you-live-in-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 14px;
  margin-top: 30px;
  min-height: 19px;
  min-width: 249px;
  white-space: nowrap;
}

.overlap-group1-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-left: 1.0px;
  margin-top: 12px;
  min-width: 341px;
  padding: 6.5px 38px;
}

.village-house-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 93px;
  white-space: nowrap;
}

.size-of-the-house-in-sq-ft-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 14px;
  margin-top: 18px;
  min-height: 19px;
  min-width: 174px;
  white-space: nowrap;
}

.overlap-group2-7 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 35px;
  margin-right: 1.0px;
  margin-top: 12px;
  min-width: 341px;
  padding: 4.5px 28px;
}

.address-6 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 59px;
  white-space: nowrap;
}

.flex-row-23 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-right: 1.77px;
  margin-top: 20px;
  min-width: 304px;
}

.for-cat-adoption-pl-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 36px;
  min-width: 266px;
  white-space: nowrap;
}

.icon-material-file-upload-1 {
  height: 19px;
  margin-bottom: 8.0px;
  margin-left: 23px;
  object-fit: cover;
  width: 15px;
}

.nets2-1 {
  border-radius: 22px;
  height: 300px;
  margin-left: 2.0px;
  margin-top: 11px;
  object-fit: cover;
  width: 330px;
}

.flex-row-24 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-right: 1.77px;
  margin-top: 19px;
  min-width: 304px;
}

.for-small-animal-ado-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 36px;
  min-width: 276px;
  white-space: nowrap;
}

.icon-material-file-upload-2 {
  height: 19px;
  margin-bottom: 6.0px;
  margin-left: 13px;
  object-fit: cover;
  width: 15px;
}

.x51o-dk47-xcg-l_ac_sx466_-1 {
  border-radius: 18px;
  height: 300px;
  margin-left: 2.0px;
  margin-top: 11px;
  object-fit: cover;
  width: 330px;
}

.overlap-group3-6 {
  height: 36px;
  margin-left: 3.23px;
  margin-top: 19px;
  position: relative;
  width: 299px;
}

.for-reptile-adoption-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.icon-material-file-upload-3 {
  height: 19px;
  left: 284px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 15px;
}

.c7rat3r0c9v71-1 {
  border-radius: 25px;
  height: 300px;
  margin-right: 4.0px;
  margin-top: 11px;
  object-fit: cover;
  width: 330px;
}

.flex-row-25 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-left: 7.0px;
  margin-top: 26px;
  min-width: 303px;
}

.place-7 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  min-height: 19px;
  min-width: 36px;
  white-space: nowrap;
}

.next-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 234px;
  min-height: 19px;
  white-space: nowrap;
}

