.potential-adopters-1 {
  align-items: flex-start;
  background: linear-gradient(180deg, #e1eff5 0%, #7a9aa8 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  flex-direction: column;
  height: 812px;
  width: 375px;
}

.flex-row-5 {
  align-items: flex-end;
  display: flex;
  margin-left: 39px;
  margin-top: -7px;
  min-width: 209px;
}

.place-3 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 6.5px;
  min-height: 19px;
  min-width: 36px;
  white-space: nowrap;
}

.logo-sisyphii-2 {
  height: 66px;
  margin-left: 54px;
  object-fit: cover;
  width: 41px;
}

.sisyphii-2 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 6.5px;
  margin-left: 6px;
  min-height: 25px;
  min-width: 72px;
  text-align: center;
  white-space: nowrap;
}

.flex-col-4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 680px;
  padding: 26px 35px;
  width: 375px;
}

.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 225px;
  width: 300px;
}

.find-their-forever-home {
  letter-spacing: 0;
  line-height: 17px;
  min-height: 23px;
  white-space: nowrap;
}

.search-container {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 14px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 13px;
  min-width: 300px;
  padding: 5.5px 8.2px;
}

.search {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 1.0px;
  min-height: 19px;
  min-width: 49px;
  white-space: nowrap;
}

.icon-ionic-ios-search {
  height: 27px;
  margin-left: 189px;
  object-fit: cover;
  width: 27px;
}

.flex-row-6 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 6.99px;
  margin-top: 7px;
  min-width: 239px;
}

.overlap-group6 {
  align-items: flex-end;
  background-color: var(--alto-2);
  border-radius: 17px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 92px;
  padding: 6px 10px;
}

.adopting-dogs {
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 69px;
  white-space: nowrap;
}

.overlap-group8 {
  align-items: flex-end;
  background-color: var(--alto-2);
  border-radius: 17px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: 9px;
  min-width: 103px;
  padding: 6px 17px;
}

.x2000-budget {
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 67px;
  white-space: nowrap;
}

.icon-feather-filter {
  height: 21px;
  margin-left: 12px;
  margin-top: 1.46px;
  object-fit: cover;
  width: 23px;
}

.results {
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 1px;
  margin-top: 30px;
  min-height: 19px;
  white-space: nowrap;
}

.overlap-group11 {
  height: 44px;
  margin-left: 4px;
  margin-top: 18px;
  position: relative;
  width: 202px;
}

.overlap-group2-3 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 202px;
}

.x20-years-animal-care-experience {
  left: 50px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.affiliated-with-spca {
  left: 50px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.icon-awesome-check-circle {
  height: 10px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 10px;
}

.flex-row-7 {
  align-items: flex-end;
  display: flex;
  height: 296px;
  margin-left: 4px;
  margin-top: 19px;
  min-width: 191px;
}

.flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 296px;
  width: 44px;
}

.ellipse-29 {
  border-radius: 22px;
  height: 44px;
  object-fit: cover;
  width: 44px;
}

.ellipse-3 {
  border-radius: 22px;
  height: 44px;
  margin-top: 19px;
  object-fit: cover;
  width: 44px;
}

.overlap-group5 {
  align-items: flex-end;
  background-color: var(--dark-text);
  border-radius: 22px;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  margin-top: 19px;
  min-width: 44px;
  padding: 10.5px 9px;
}

.jw {
  color: var(--white);
  font-family: var(--font-family-helveticaneue-bold);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 20px;
  min-width: 25px;
  white-space: nowrap;
}

.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  min-height: 295px;
  width: 143px;
}

.flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-left: 2px;
  min-width: 56px;
}

.wai-wa {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 16px;
  min-width: 42px;
  white-space: nowrap;
}

.icon-awesome-check-circle-1 {
  height: 10px;
  margin-left: 4px;
  margin-top: 0.78px;
  object-fit: cover;
  width: 10px;
}

.overlap-group1-2 {
  height: 27px;
  margin-left: 2px;
  position: relative;
  width: 141px;
}

.address,
.new-to-animal-care,
.address-1,
.new-to-animal-care-1,
.new-to-animal-care-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.liat {
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.lai-ying-chung {
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 2px;
  margin-top: 20px;
  min-height: 16px;
  white-space: nowrap;
}

.overlap-group-3 {
  height: 27px;
  margin-left: 2px;
  position: relative;
  width: 88px;
}

.flex-row-9 {
  align-items: center;
  display: flex;
  height: 16px;
  margin-left: 2px;
  margin-top: 20px;
  min-width: 82px;
}

.name-1 {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 16px;
  min-width: 68px;
  white-space: nowrap;
}

.icon-awesome-check-circle-2 {
  height: 10px;
  margin-bottom: 1.56px;
  margin-left: 4px;
  object-fit: cover;
  width: 10px;
}

.overlap-group4-1 {
  height: 27px;
  margin-left: 2px;
  position: relative;
  width: 140px;
}

.flex-row-10 {
  align-items: flex-start;
  display: flex;
  height: 106px;
  margin-top: 20px;
  min-width: 102px;
}

.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 106px;
  width: 90px;
}

.jemima-zabher {
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 2px;
  min-height: 16px;
  white-space: nowrap;
}

.li-ying-suet {
  letter-spacing: 0;
  line-height: 12px;
  margin-top: 20px;
  min-height: 16px;
  white-space: nowrap;
}

.overlap-group7 {
  height: 27px;
  position: relative;
  width: 88px;
}

.icon-awesome-check-circle-3 {
  height: 10px;
  margin-left: 2px;
  margin-top: 2px;
  object-fit: cover;
  width: 10px;
}

