.component-28-1 {
  align-items: flex-end;
  align-self: flex-end;
  background: linear-gradient(180deg, #095950 0%, #043630 100%);
  border-radius: 19px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 60px;
  margin-top: 74px;
  min-width: 300px;
  padding: 14.5px 70px;
}

.name-2 {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 25px;
  min-width: 160px;
  text-align: center;
  white-space: nowrap;
}

